<a href="https://colab.research.google.com/github/jeonghoney/First-Code/blob/main/CTBA_9_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.두가지 이상의 선택, 다방향 선택구조 코딩
 - 배송료처리 3가지로 작성
 - 변수 : price, 가격 10만원이상 0원,
 2만원이상 3000원, 그외 5천원

In [ ]:
print("배송료를 계산합니다.")                           # "배송료를 계산합니다."를 출력하는 부분입니다.
print("#" * 30)                                         # "#"을 30번 반복하여 출력하는 부분입니다.
price = int(input("구입금액 입력: "))                   # 사용자로부터 구입금액을 입력받는 부분입니다.
if price >= 100000:                                     # 만약 구입금액이 100,000원 이상이라면
  shipping_cost = 0                                     # 배송료는 0원입니다.
else:                                                   # 그렇지 않고 (구입금액이 100,000원 미만일 때)
  if price >= 20000:                                    # 만약 구입금액이 20,000원 이상이라면
    shipping_cost = 3000                                # 배송료는 3,000원입니다.
  else:                                                 # 그렇지 않고 (구입금액이 20,000원 미만일 때)
    shipping_cost = 5000                                # 배송료는 5,000원입니다.
print(f'배송료는 {shipping_cost}원 입니다.')            # 계산된 배송료를 출력하는 부분입니다.

배송료를 계산합니다.
##############################
구입금액 입력: 100000
배송료는 0원 입니다.

2.환영합니다 5번 출력, 10번 출력, 30번 출력

In [ ]:
print("환영합니다.")    #환영합니다 출력하느 부분입니다.
print("환영합니다.")    #환영합니다 출력하느 부분입니다.
print("환영합니다.")    #환영합니다 출력하느 부분입니다.
print("환영합니다.")    #환영합니다 출력하느 부분입니다.

환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
print("환영합니다.\n" * 5)   #곱하기 문자를 사용하여 환영합니다를 5번 출력하는 부분입니다.

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
count = 1  # 초기 카운트 값을 1로 설정합니다.

while count <= 5:  # count가 5보다 작거나 같은 동안 반복합니다.
    #print("(", count, ")", "환영합니다.")  # 현재 count 값을 출력하고 "환영합니다."를 출력합니다.
    print(f'({count})환영합니다.')  # 현재 count 값을 출력하고 "환영합니다."를 출력합니다.
    count = count + 1  # count 값을 1씩 증가시킵니다.
    #count += 1  # count 값을 1씩 증가시킵니다.

(1)환영합니다.
(2)환영합니다.
(3)환영합니다.
(4)환영합니다.
(5)환영합니다.

3. 0부터 9까지 출력하는 코드 작성
 - 변수 : x

In [ ]:
x = 0                    # 초기 x 값을 0으로 설정합니다.
while x < 10:            # x가 10보다 작은 동안 반복합니다.
    print(x, end=' ')    # 현재 x 값을 출력하고, 출력 후에 줄바꿈 대신 공백을 출력합니다.
    x += 1               # x 값을 1씩 증가시킵니다.

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 정수의 합을 계산하여 출력하는 코드

In [ ]:
x = 1                  # 초기 x 값을 1로 설정합니다.
total = 0              # 초기 total 값을 0으로 설정합니다.
while x <= 10:         # x가 10보다 작거나 같은 동안 반복합니다.
    total = total + x  # 현재 total 값에 x 값을 더하여 업데이트합니다.
    x += 1             # x 값을 1씩 증가시킵니다.
print(total)           # 최종적으로 계산된 total 값을 출력합니다.

55

In [ ]:
x = 1           # 초기 x 값을 1로 설정합니다.
while x <= 10:  # x가 10보다 작거나 같은 동안 반복합니다.
    print(x)    # 현재 x 값을 출력합니다.
    x += 1      # x 값을 1씩 증가시킵니다.

1
2
3
4
5
6
7
8
9
10

5. 3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로(i mod 3)의 값이 0이면 박수를 출력, 아니면 숫자를 출력해주는 코드

In [ ]:
i = 1                           # 변수 i는 0으로 선언
while i <+ 30:                  # 반복문 while 사용해서 i가 30보다 작거나 같을때
  if i % 3 == 0:                # 만약 i값을 3으로 난누 나머지가 0이면
    print("박수", end=' ')      # 박수를 출력하고 공백을 하난 만듦
  else:                         # 위의 것이 아니면,
    print(i, end=' ')           # i값만 출력하고 공백 하나 만듦
  i += 1                        # 변수 i값에 i와 1을 더해서 다시 변수 i에 선언

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20 박수 22 23 박수 25 26 박수 28 29

In [ ]:
for num in range (1, 11):       # 1부터 11까지의 숫자를 반복
  if num % 3 == 0:              # 숫자(num)를  3으로 나눈 나머지가 0인 경우
    print("박수", end=' ')      # 박수를 출력하고 공백 만듦
  else:                         # 그게 아니면
    print(num, end=' ')         # 숫자만 출력하고 공백 만듦

6. 팩토리얼 계산하는 코드 작성

In [ ]:
i = 4                             # 초기 i 값을 4로 설정합니다.
factorial = 1                     # 초기 factorial 값을 1로 설정합니다.
while i >= 1:                     # i가 1보다 크거나 같은 동안 반복합니다.
    factorial = factorial * i     # 현재 factorial 값에 i 값을 곱하여 업데이트합니다.
    i -= 1                        # i 값을 1씩 감소시킵니다.
print(factorial)                  # 최종적으로 계산된 factorial 값을 출력합니다.

24

In [ ]:
num = int(input("팩토리얼 값 입력: "))      # 사용자로부터 정수 값을 입력받아 num 변수에 저장합니다.
factorial = 1                               # 초기 factorial 값을 1로 설정합니다.
while num >= 1:                             # num이 1보다 크거나 같은 동안 반복합니다.
    factorial = factorial * num            # 현재 factorial 값에 num 값을 곱하여 업데이트합니다.
    num -= 1                               # num 값을 1씩 감소시킵니다.
print("계산된 팩토리얼 값은:", factorial)  # 최종적으로 계산된 factorial 값을 출력합니다.

팩토리얼 값입력: 5
계산된 팩토리얼 값은 : 120