<a href="https://colab.research.google.com/github/jeonghoney/First-Code/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. To-Do list를 작성하시오
-2023년 10월 19일 오정헌
- (1) 9:00 행정학의 이해와 응용 수업
- (2) 11:10 컴퓨팅적 사고와 기초코딩 수업
- (3) 13:00 점심식사
- (4) 14:10 교양수업
- (5) 18:30 수영장 출근
- (6) 19:00 수영 지도 시작
- (7) 21:00 퇴근 및 휴식

In [1]:
print("To-do list")
print("(1)행정학의 이해와 응용 수업")
print("(2)11:10 컴퓨팅적 사고와 기초코딩 수업")
print("(3)13:00 점심식사")
print("(4)14:10 교양수업")
print("(5)18:30 수영장 출근")
print("(6)19:00 수영 지도 시작")
print("(7)21:00 퇴근 및 휴식")

To-do list
(1)행정학의 이해와 응용 수업
(2)11:10 컴퓨팅적 사고와 기초코딩 수업
(3)13:00 점심식사
(4)14:10 교양수업
(5)18:30 수영장 출근
(6)19:00 수영 지도 시작
(7)21:00 퇴근 및 휴식

2. 인사말 출력하기
- 안녕하십니까! 형님

In [2]:
print("인사말 출력하기")
print("안녕하십니까! 형님")

인사말 출력하기
안녕하십니까! 형님

3. 학생 4명의 수학점수를 입력받아서 아래와 같이 출력하시오
- 주혜진:18점
- 김지우:21점
- 강민우:19점
- 홍대경:3점
- 1등 김지우
- 2등 강민우
- 3등 주혜진
- 4등 홍대경

In [3]:
n1 = (input("주혜진의 수학점수:  "))
n2 = (input("김지우의 수학점수:  "))
n3 = (input("강민우의 수학점수:  "))
n4 = (input("홍대경의 수학점수:  "))
print("1등 김지우", n2, "점")
print("2등 강민우", n3, "점")
print("3등 주혜진", n1, "점")
print("4등 홍대경", n4, "점")

주혜진의 수학점수:  18
김지우의 수학점수:  21
강민우의 수학점수:  19
홍대경의 수학점수:  3
1등 김지우 21 점
2등 강민우 19 점
3등 주혜진 18 점
4등 홍대경 3 점

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [4]:
n1 = int(input("n1의 값을 입력하시오.:"))
n2 = int(input("n2의 값을 입력하시오.:"))
total= n1+n2
average = total / 2
print(total)
print(average)

n1의 값을 입력하시오.:60
n2의 값을 입력하시오.:65
125
62.5